/*
This file is used to contain all vendor imports.
*/
/*
This file is used to contain all abstracts imports.
Files inside this folder can contain abstract settings, helpers or functions. They have no direct output.
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;600&display=swap");
/*
This file is used to contain all base imports.
Files inside this folder can contain global styles used in the project.
*/
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login h2 {
  font-family: "Noto Sans JP";
  font-weight: 900;
}
.login .log {
  font-family: "Noto Sans JP";
  font-weight: 700;
  font-size: 3vh;
}
.login .submit {
  font-family: "Noto Sans JP";
  font-weight: 900;
  font-size: 2.5vh;
}

.good {
  font-family: "Noto Sans JP";
  font-weight: 900;
  margin-bottom: 6vh;
  color: rgb(84, 180, 84);
  text-align: center;
  margin-top: 3vh;
}

.entered .back {
  font-family: "Noto Sans JP";
  font-weight: 900;
  font-size: 2.5vh;
}
.entered .back a {
  text-decoration: none;
  color: black;
}
.entered .back a:hover {
  color: yellow;
}

.register h2 {
  font-family: "Noto Sans JP";
  font-weight: 900;
}
.register .reg {
  font-family: "Noto Sans JP";
  font-weight: 700;
  font-size: 3vh;
}
.register .submit {
  font-family: "Noto Sans JP";
  font-weight: 900;
  font-size: 2.5vh;
}

.NewPkmn h2 {
  font-family: "Noto Sans JP";
  font-weight: 900;
  margin-bottom: 5vh;
}
.NewPkmn .new {
  font-family: "Noto Sans JP";
  font-weight: 700;
  font-size: 3vh;
}
.NewPkmn .infonewpkmn {
  font-family: "Noto Sans JP";
  font-weight: 700;
  font-size: 3vh;
}
.NewPkmn select {
  font-family: "Noto Sans JP";
  font-weight: 600;
  font-size: 3vh;
}
.NewPkmn .submit {
  font-family: "Noto Sans JP";
  font-weight: 900;
  font-size: 2.5vh;
}

/*
This file is used to contain all component imports.
Files inside this folder should contain all styles relating to a reusable component.
*/
body {
  background-color: #F3F4F6;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  width: 100vh;
  height: 80vh;
  margin: 0 auto;
  margin-top: 10vh;
}

.loginfo {
  background-color: #E5E7EB;
  border: none;
  width: 80vh;
  height: 7.5vh;
  margin-bottom: 6vh;
}

.submit {
  background-color: #E5E7EB;
  border: none;
  width: 20vh;
  height: 10vh;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  width: 100vh;
  height: 80vh;
  margin: 0 auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.reginfo {
  background-color: #E5E7EB;
  border: none;
  width: 80vh;
  height: 7.5vh;
  margin-bottom: 6vh;
}

.submit {
  background-color: #E5E7EB;
  border: none;
  width: 20vh;
  height: 10vh;
}

.card-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.card-container .card-img {
  width: clamp(100px, 30%, 200px);
  margin: 0 auto;
}
.card-container .card-img img {
  position: relative;
  top: 70px;
  width: 100%;
}
.card-container .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 50vh;
  width: 100%;
  padding: 80px 30px 30px;
  background-color: lightgrey;
  border-radius: 15px;
  box-shadow: 10px 10px 20px 1px rgb(164, 164, 164);
}
.card-container .card-content p {
  font-size: 1.5rem;
  font-weight: 600;
}
.card-container .card-content h2 {
  font-size: 2rem;
  font-weight: 800;
  padding: 20px;
}
.card-container .card-content .card-type-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-container .card-content .card-type-container .card-type-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px 10px;
  padding: 5px 10px;
  border-radius: 10px;
}
.card-container .card-content .card-type-container .card-type-content p {
  padding-left: 10px;
}
.card-container .card-content .card-type-container .card-type-content img {
  height: 30px;
}

@media only screen and (min-width: 400px) {
  .card-container .card-content .card-type-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .card-container .card-content .card-type-container .card-type-content {
    margin: 0 10px;
  }
}
@media only screen and (min-width: 612px) {
  .card-container {
    width: 80%;
  }
}
@media only screen and (min-width: 612px) {
  .card-container {
    width: 80%;
  }
}
.pokemon-grid {
  position: relative;
  top: 150px;
}

@media only screen and (min-width: 612px) {
  .pokemon-grid {
    position: relative;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1024px) {
  .pokemon-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.addfav {
  border: none;
  background-color: white;
  font-size: 20vh;
  fill: #e5e7eb;
}
.addfav:hover {
  fill: yellow;
}
.addfav:active {
  fill: yellow;
}

.back {
  align-items: center;
  border: none;
  color: #f3f4f6;
}

.entered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}
.entered .back {
  padding: 2vh 10vh 2vh 10vh;
  margin-top: 10vh;
}
.entered a {
  text-decoration: none;
}

.NewPkmn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  width: 100vh;
  height: 280vh;
  margin: 0 auto;
  margin-top: 10vh;
}

.formulaire {
  display: flex;
  flex-direction: column;
}

.infonewpkmn {
  background-color: #E5E7EB;
  border: none;
  width: 80vh;
  height: 7.5vh;
  margin-bottom: 6vh;
}

.submit {
  background-color: #E5E7EB;
  border: none;
  width: 20vh;
  height: 10vh;
}

<<<<<<< HEAD
=======
.card-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.card-container .card-img {
  width: clamp(100px, 30%, 200px);
  margin: 0 auto;
}
.card-container .card-img img {
  position: relative;
  top: 70px;
  width: 100%;
}
.card-container .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 50vh;
  width: 100%;
  padding: 80px 30px 30px;
  background-color: lightgrey;
  border-radius: 15px;
  box-shadow: 10px 10px 20px 1px rgb(164, 164, 164);
}
.card-container .card-content p {
  font-size: 1.5rem;
  font-weight: 600;
}
.card-container .card-content h2 {
  font-size: 2rem;
  font-weight: 800;
  padding: 20px;
}
.card-container .card-content .card-type-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-container .card-content .card-type-container .card-type-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  padding: 5px 10px;
}
.card-container .card-content .card-type-container .card-type-content p {
  padding-left: 10px;
}
.card-container .card-content .card-type-container .card-type-content img {
  height: 30px;
}

@media only screen and (min-width: 400px) {
  .card-container .card-content .card-type-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
>>>>>>> dev
/*
This file is used to contain all component imports.
Files inside this folder can contain specific element styles and layout. 
*/
body {
  background-color: #f3f4f6;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.header .logo {
  width: 100px;
}
.header .nav {
  background-color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 0px 2px 0px #e5e7eb;
}
.header .nav .link {
  text-decoration: none;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 8px;
  font-weight: 600;
  color: black;
}
@media screen and (min-width: 425px) {
  .header .logo {
    width: 200px;
  }
  .header .nav {
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header .nav .link {
    font-size: 12px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  font-size: 8px;
}

@media screen and (min-width: 425px) {
  .footer {
    font-size: 12px;
  }
}
.infosContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  font-family: "Noto Sans JP", sans-serif;
  margin: 2% 10% 2% 10%;
}
.infosContainer .infos {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px #e5e7eb;
  padding: 20px;
}
.infosContainer .infos .types {
  display: flex;
  gap: 10px;
}
.infosContainer .infos .types .card-type-content {
  background-color: green;
  display: flex;
  border-radius: 5px;
  padding: 2px;
  gap: 5px;
}
.infosContainer .infos .types .card-type-content img {
  width: 20px;
}
.infosContainer .infos .stats .stat {
  display: flex;
  flex-direction: column;
}
.infosContainer .infos .stats .stat .slider {
  accent-color: #e5e7eb;
}
.infosContainer .infos .evolutions {
  display: flex;
  justify-content: space-around;
}
.infosContainer .infos .evolutions .evolution img {
  width: 50px;
  background-color: #e5e7eb;
  border-radius: 25px;
}
.infosContainer .infoImage {
  position: relative;
}
.infosContainer .infoImage img {
  position: absolute;
  width: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.infosContainer .infoImage .num {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  color: #e5e7eb;
  font-size: 150px;
  font-weight: 800;
}/*# sourceMappingURL=style.css.map */