/*
This file is used to contain all component imports.
Files inside this folder should contain all styles relating to a reusable component.
*/

//Import Component files

@import 'login';
@import 'register';
@import 'card';
@import 'pokemon-grid';
@import 'favbutton';
@import 'newpkmn';
