.card-container {

    @include position-center;
    @include display-flex-center-column;
    width: 90%;
    font-family: 'Noto Sans JP';
    cursor: pointer;
    
    .card-img {
        width: clamp(100px, 35%, 200px);
        margin: 0 auto;
        img {
            position: relative;
            top: 50px;
            width: 100%;
        }
    }
    .card-content {
        @include display-flex-center-column;
        height: 70%;
        width: 100%;
        padding: 60px 30px 0px;
        background-color: white;
        border-radius: 15px;
        // box-shadow: 10px 10px 20px 1px rgb(164, 164, 164);

        p {
            font-size: 1.5rem;
            font-weight: 600;
        }

        h2 {
            font-size: 2rem;
            font-weight: 800;
            padding-bottom: 20px;
        }

        .card-type-container {
            position: relative;
            z-index: 1;
            @include display-flex-center-row;
            flex-wrap: wrap;
            

            .card-type-content {
                @include display-flex-center-row;
                margin: 5px 10px;
                padding: 5px 20px 5px 10px;
                border-radius: 10px;

                p {
                    padding-left: 10px;
                    font-size: 1.1rem;
                    font-weight: 900;
                    color: white;
                }

                img {
                    height: 30px;
                }
            }
        }
        .fav-separate {
            width: 100%;
            height: 0;
        }
        .fav-container {
            position: relative;
            height: 100px;
            width: 100%;
        }
    }
}
@media only screen and (min-width: 612px) {
    .card-container {
        .card-content {
            .card-type-container {
                .fav-separate {
                    height: 60%;
                }
            }
        }

    }
}
