.updates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .back {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        color:#f3f4f6;
        font-family: 'Noto Sans JP';
        font-weight: 900;
        font-size: 2.5vh;
        border: none;
        padding: 2vh 10vh 2vh 10vh;
        margin: 2vh 0vh 5vh 0vh;
        a {
            text-decoration: none;
            color: black;
            &:hover {
                color: yellow;
            }
        }
    }
}
