.back {
    align-items: center;
    border: none;
    color:#f3f4f6;

}

.entered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:-500px;
    margin-bottom: 50px;

    .buttons {
        display: flex;
        flex-direction: row;
        gap:40vh;

        .back {
            padding: 2vh 10vh 2vh 10vh;
            margin-top: 5vh;
        }
        .modify {
            padding: 2vh 10vh 2vh 10vh;
            margin-top: 5vh;
        }
    }

}


.NewPkmn {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius:10px;
    width: 100vh;
    height: 280vh;
    margin: 0 auto;
    margin-top: 10vh;
}

.formulaire {
    display: flex;
    flex-direction: column;
}

.infonewpkmn {
    background-color: #E5E7EB;
    border: none;
    width: 80vh;
    height: 7.5vh;
    margin-bottom: 6vh;
}

.submit {
    background-color: #E5E7EB;
    border: none;
    width: 20vh;
    height: 10vh;
}

.card-container {
    padding-top: 500px;
}
.infos-content {
    display: flex;
    flex-wrap: wrap;
    gap:5vh;
    margin-bottom: 5vh;
}

.evolutions {
    display: flex;
    flex-wrap: wrap;
    gap: 15vh;
    margin-bottom: 5vh;
}