.pokemon-grid {
    padding-top: 220px;
    width: 90%;
    margin: 0 auto;
}
@media only screen and (min-width: 612px) {
    .pokemon-grid {
        padding-top: 0;
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
@media only screen and (min-width: 1024px) {
    .pokemon-grid {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 33%);
    }
}