.login {
    h2 {
    font-family: 'Noto Sans JP';
    font-weight: 900;
    }
    .log {
        font-family: 'Noto Sans JP';
        font-weight: 700;
        font-size: 3vh;
    }
    .submit {
        font-family: 'Noto Sans JP';
        font-weight: 900;
        font-size: 2.5vh;
    }
}

.register {
    h2 {
    font-family: 'Noto Sans JP';
    font-weight: 900;
    }
    .reg {
        font-family: 'Noto Sans JP';
        font-weight: 700;
        font-size: 3vh;
    }
    .submit {
        font-family: 'Noto Sans JP';
        font-weight: 900;
        font-size: 2.5vh;
    }
}